.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Common styles */

/* font colors */
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

/* Buttons */
.btn-primary{
    height: 64px;
    font-size: 20px;
    padding: 18px 28px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
}

.section-title{
    font-weight: bold;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 30px;
}

.section-description{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;
}

.text-center{
    text-align: center;
}

/* Body styles */
body{
    margin-top: 0px;
}

/* Header styles */
header{
    margin: 0px 0px 130px;
    background-color: #FFF8F3;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: 30px, bottom right;
}

/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 230px 50px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav h2 span{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0px 230px;
}

.banner-info{
    margin: 136px 0px 184px;
    width: 585px;
}

.banner-greeting{
    font-weight: 600;
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
}

.banner-name{
    font-weight: bold;
    font-size: 85px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0;
}

.banner-description{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0;
}

.btn-contact{
    margin-left: 20px;
    background-color: transparent;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}

.banner-img{
    width: 584px;
}

/* Section styles */

section{
    margin: 0px 230px 130px;
}

/* About section styles */

.about{
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.about-box{
    border: 1px solid black;
    background-color: white;
}

.about-info{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-title{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.info-value{
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

/* Skills section styles */

.skills-description{
    margin: 0px 115px 50px;
    width: 909px;
}

.stacks{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.stack{
    width: 267px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

/* Resume styles */
.resume-box{
    margin-top: 113px;
    display: flex;
    justify-content: center;
    gap: 71px;
}

.resume-column-title{
    margin-top: 0;
    font-weight: bold;
    font-size: 30px;
}

.qualification{
    width: 511px;
    margin-top: 30px;
}

.qual-title{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

.qual-place{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.qual-info{
    margin-bottom: 30px;
    font-size: 16px;
}

hr{
    height: 1px;
    background-color: rgba(209, 209, 209, 1);
}

.resume-btn{
    margin-top: 30px;
}

/* Footer styles */

footer{
    display: flex;
    justify-content: center;
    gap: 117px;
    padding: 130px 230px;
    background-color: #FFF8F3;
}

footer h1{
    font-weight: bold;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
}

footer p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 30px;
}

footer img{
    margin-right: 24px;
}

footer form input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    background-color: white;
    border-radius: 5px;
    width: 461px;
    padding: 20px;
    border: none;
    font-size: 16px;
    font-family: inherit;
}


